.card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card__image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 20px;
}
.card__details {
  flex: 1;
}
.card__title {
  font-size: 16px;
  margin-bottom: 5px;
}
.card__price {
  font-size: 14px;
  color: #333;
}
.card__actions {
  display: flex;
  align-items: center;
}
